<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Brainvire. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Brainvire_Storelocator::brainvire_storelocator_index" title="storelocator" module="Brainvire_Storelocator" parent="" sortOrder="20" dependsOnModule="Brainvire_Storelocator" action="storelocator/storelocator/index" resource="Brainvire_Storelocator::brainvire_storelocator_index"/>
<!--AddMenu-->
    </menu>
</config>
